@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-image: linear-gradient(to top, rgb(17, 3, 56) 10%, rgb(24, 1, 53) , rgb(0, 0, 0));
    color: rgb(18, 1, 34);
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;

}
#principal{
display: flex;
justify-content:space-between;
flex-direction: row;
height: 100vh;
}
#retorno-git{
    background-color: white;
    display: none;
    width: 100%;
    min-height: 100vh;
    height:100%;
    
    justify-content: center;
    
   
    
}
h1{
    padding-left: 3px;
    color: white;
    font-size: 5em;
    text-align: left;
    align-items: center;
    width: 50vw;
    max-width: auto ;
    min-height: 300px;
    max-height: auto;
    margin: auto;
    padding-left: 1em;
    line-height: 1.2em;
    letter-spacing: 3px;
    
}


#App {
   
    padding:2em;
    gap: 1em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    max-width: auto ;
    min-height: 300px;
    max-height: auto;
    margin: auto;
    color: white;
}
#box-entrada{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 0.5em;
    margin: auto;
    
}
input{
    padding: 1em;
    font-size: 1em;
    border-radius: 15px;
    border: none;
}
button{
    padding: 1em;
    border-radius: 50px;
    background-image: linear-gradient(to left, rgb(35, 2, 124) 10%, rgb(121, 2, 233)  , rgb(44, 3, 71) );
    background-size: 500% 100%;
    color: white;
    border: none;
    font-size: 1em;
    box-shadow: 1px 1px 3px rgb(114, 73, 177);
    transition: transform 0.3s;
    animation-name: degrade-button;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: alternate;
   
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#lista-repositorio{
   background-color: rgb(255, 255, 255);
    padding: 2em;
    border-radius: 20px;
    width:400px;
    
    
}
ul{
    list-style-type: none;
    
}
li{
    padding: 0.3em 0 ;
    font-size: 1.2em;
}
h2{
    text-align: center;
    margin-bottom: 1em;
}
a{
    text-decoration: none;
    color: rgb(35, 2, 88);
   
}
img{
    width: 300px;
    margin: auto;
}


p {
    display: none;
}

@keyframes degrade-button {
    0%{
        background-position-x: 0% ;
    }
    100%{
        background-position-x: 100%;
    }
}